/* Global styles for Album Categorizer */

:root {
    --primary-color: rgb(255, 75, 75);
  }

/* Title styles */
.custom-title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    color: rgb(49, 51, 63);
}

.custom-title span {
    color: var(--primary-color);
}

/* Input label styles */
label:not([disabled]) {
    max-width: 100%;
    color: var(--primary-color) !important;
    opacity: 0.9;
    max-height: 24px;
    overflow: hidden;
    align-items: flex-start;
}

label > div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

label > div > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

input[disabled],
textarea[disabled] {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

/* Separator styles */
.separator {
    text-align: center;
    padding-top: 30px;
}

.separator-label {
    padding-top: 28px;
}

.separator-line {
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 30px;
    margin-bottom: 30px;
}
