/* Global styles for Album Categorizer */

:root {
    --primary-color: rgb(255, 75, 75);
}

/* Title styles */
.custom-title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    color: rgb(49, 51, 63);
}

.custom-title span {
    color: var(--primary-color);
}

#spotify,
#tidal,
#beatport,
#apple-music {
    color: black;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 10px;
    border-radius: 0.5rem;
    text-align: center;
}

#spotify {
    background-color: #1DB954;
}

#tidal {
    background-color: #3FE;
}

#beatport {
    background-color: #01ff95;
}

#apple-music {
    background-color: #FA586B;
}

/* Input label styles */
label:not([disabled]) {
    max-width: 100%;
    color: var(--primary-color) !important;
    opacity: 0.9;
    max-height: 24px;
    overflow: hidden;
    align-items: flex-start;
}

label > div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

label > div > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Input styles */
.st-key-combined_output input,
.st-key-preview-text textarea {
    font-family: monospace;
    font-size: 12px;
}

/* Button styles */
[data-testid="stPopoverButton"] {
    width: 100%;
}

[data-testid="stBaseButton"],
[data-testid="stBaseButton-secondary"],
.stButton-fake {
    white-space: nowrap;
}

.stButton-fake {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    min-height: 2.5rem;
    margin: 0px;
    line-height: 1.6;
    text-transform: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    width: 100%;
    cursor: pointer;
    user-select: none;
    background-color: rgb(19, 23, 32);
    border: 1px solid rgba(250, 250, 250, 0.2);
    cursor: pointer;
    color: white !important;
    text-decoration: none !important;
} 

.stButton-fake:hover {
    border-color: rgb(255, 75, 75);
    color: rgb(255, 75, 75) !important;
}

/* Image styles */
[data-testid="stFullScreenFrame"] > div {
    width: 100%;
}

.stImage {
    width: 100%;
}

div:not(:has(.stImage)) [data-testid="stImageContainer"] {
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    background-color: black;
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
}

div:not(:has(.stImage)) [data-testid="stImageContainer"]::before {
    content: "";
    display: block;
    padding-top: 50%;
}

[data-testid="stImageContainer"] img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
}

[data-testid="stImageCaption"] {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
}

/* Separator styles */
.separator {
    text-align: center;
    padding-top: 30px;
}

.separator-label {
    padding-top: 28px;
}

.separator-label--sm {
    padding-top: 16px;
}

.separator-noPadding {
    text-align: center;
    padding-top: 0;
}

.separator-nolabel {
    text-align: center;
    padding-top: 7px;
}

.separator-line {
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

/* Sticky preview */
[data-testid="stVerticalBlock"] > div > div > div div:has(.sticky-preview) {
    position: sticky;
    top: 3.5rem;
    z-index: 1;
}

.sticky-preview {
    display: none;
}
