/* Global styles for Album Categorizer */

/* Title styles */
.custom-title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    color: rgb(49, 51, 63);
}

.custom-title span {
    color: #ff4b4b;
}

/* Input label styles */
label {
    max-width: 100%;
}

label > div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

label > div > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Separator styles */
.separator {
    text-align: center;
    padding-top: 30px;
}

/* Info panel styles */
.st-key-info_notes textarea {
    height: 38px;
    min-height: 38px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
